%section.admin
  .admin-content.billet
    %h2 Создание пользователя
    = render 'users/form'
  .admin-userlist.billet
    %table
      %tr
        %th ФИО
        %th Логин
        %th Пароль
        %th
      - @users.each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.login
          %td
            = @crypt.dec(user.stored_password)
          %td
            = link_to 'Изменить', edit_user_path(user)
            = link_to 'Удалить', user_path(user), method: :delete, data: { confirm: 'Удалить пользователя?' }