%section.test
  .test-content.billet
    .test-navigation
      = button_to 'начать тестирование', tests_path, method: :post, class: 'btn start-test'
      = button_to 'выйти', destroy_user_session_path, method: :delete, class: 'btn exit'
    .test-results
      %h5 Результаты:
      - @tests.each do |test|
        .test-item
          = is_solved?(test)
          = test.correct_answers_percentage.to_s + '%'
          = link_to 'Перейти', test