%section.login
  .login-content.billet
    %h2 Вход в систему
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .log-in-field.username
        = f.label :Логин
        = f.text_field :login, autofocus: true
      .log-in-field.password
        = f.label :Пароль
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .log-in-field.remember-me
          = f.check_box :remember_me
          = f.label :Запомнить_меня
      .log-in-actions
        = f.submit "Войти"
    = render "devise/shared/links"