$bold-grey: #aaa;

.login, .admin, .test {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0 0 1rem 0;
  }
}
.admin {
  flex-direction: column;
}

.login-content, .admin-content, .test-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.log-in-field {
  margin-bottom: 1rem;
  &.username, &.password {
    display: flex;
    flex-direction: column;
  }
}

.admin-userlist {
  width: 90%;
  margin-top: 1rem;
  table {
    width: 100%;
    tr {
      display: grid;
      grid-template-columns: repeat(3, 1.5fr) 1fr;
      justify-items: flex-start;
      padding: 5px;
    }
    tr:nth-of-type(even) {
      background-color: $bold-grey;
    }
  }
}

.create-user-action {
  text-align: center;
}