$alert-color: #dc3545;
$notice-color: #28a745;

.alert, .notice {
  text-align: center;
  font-weight: bold;
  margin: 0 0;
  padding: 1rem;
}
.alert {
  background-color: $alert-color;
}
.notice {
  background-color: $notice-color;
}