.results-content {
  margin-top: 2rem;
  h5 {
    margin: 0 0;
  }
}
.results-info {
    margin-top: 1rem;
}
.results-answers {
  margin-top: 2rem;
}
.results-info-item {
  display: flex;
}
.results-answers-item {
  &:nth-of-type(n+2) {
    margin-top: 1rem;
  }
  h4 {
    margin: 0 0;
  }
}