%section.current-test
  .current-test-content.container
    - question_chars = ('а'..'я').to_a
    = form_for @test do |f|
      - i = 1
      - @test.test_questions.each do |test_question|
        .current-test-item.billet
          .current-test-item-question
            %h4
              = f.label("question", "#{i}) #{test_question.question.context}")
          .current-test-item-answers
            - test_question.question.answers.shuffle.each_with_index do |answer, index|
              .current-test-item-answer
                = radio_button(:test_question, test_question.id, answer.id)
                = f.label("answer", "#{question_chars[index]}) #{answer.context}")
            - i += 1
      .create-user-action
        = f.submit 'Завершить'