%section.results
  .results-content.container
    .results-link-to-profile
      = link_to 'В личный кабинет', root_path
    .results-info.billet
      .results-info-item.status
        %h5 Статус теста:&nbsp
        = is_solved?(@test)
      .results-info-item.percentage
        %h5 Правильных ответов:&nbsp
        = "#{@test.correct_answers_percentage}%"
      .results-info-item.count
        %h5 Количество вопросов:&nbsp
        = @test.questions_count
      .results-info-item.created-at
        %h5 Начало теста:&nbsp
        = @test.created_at.strftime('%d/%B/%Y %H:%M')
      .results-info-item.solving-time
        %h5 Затраченное время:&nbsp
        = "#{@test.solving_time} минут(ы)"
    .results-answers
      %h3 Неправильные ответы:
      - @test.test_questions.each do |test_question|
        - next if test_question.answer&.is_correct?
        .results-answers-item.billet
          .results-answers-item-question
            %h4
              = test_question.question.context
          .results-answers-item-answer
            - if test_question.answer
              = test_question.answer.context
            - else
              = 'Ответ не дан'